.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-thq-footer-container-elm {
  height: 689px;
  display: block;
  padding-top: 45px;
  margin-bottom: 5px;
  padding-bottom: 45px;
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
 
.footer-container6 {
  display: none;
}
 
.footer-container7 {
  display: contents;
}
